@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* Load and apply the Pokemon Solid font */
@font-face {
    font-family: 'Pokemon Solid';
    src: url('./assets/fonts/Pokemon Classic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply styles to the body */
body {
    background: url('./assets/pokemon-sprites/Background/pokemart-background.jpg') center/cover no-repeat;
    font-family: 'Pokemon Solid', sans-serif; 
  }
  
  /* Apply styles to the WelcomePage component */
  .welcome-page {
    background: url('./assets/pokemon-sprites/Background/pokemart-background.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  /* Apply style to About component */
  .project-box {
    background-color: rgba(255, 255, 255, 0.15); /* Adjust the color and opacity as needed */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    backdrop-filter: blur(10px); /* Apply the glass effect */
  }